<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
    <li v-for="menu in menus"
        :key="menu.menuId"
        :class="{active:menu.open,treeview:menu.list && menu.list.length > 0}">
        <a :href="getValue(menu.url,'','#')">
            <i :class="getValue(menu.icon,'fa fa-','fa fa-circle-o')"></i>
            <span>{{ menu.name }}</span>
            <span v-if="menu.list && menu.list.length > 0" class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
        </a>
        <ul class="treeview-menu" v-if="menu.list && menu.list.length > 0">
            <li v-for="submenu in menu.list">
                <!--:href="getValue(submenu.url,'','#')"-->
                <a :href="getValue(submenu.url,'','#')">
                   <!-- <i :class="getValue(submenu.icon,'fa fa-','fa fa-circle-o')"></i>-->
                    <menu-icon iconName="fa fa-share"></menu-icon>
                    {{ submenu.name }}
                </a>
            </li>
            <router-link to="/test">首页</router-link>
            <router-link to="/test2">首页2</router-link>
        </ul>
    </li>
</ul>