<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.krista.spring.boot.mybatis.dao.IpDao">
    <resultMap id="default" type="Ip">
        <!--<id property="id" column="id" javaType="Long"/>-->

    </resultMap>


    <select id="findById" resultType="Ip" parameterType="Long">
        SELECT * FROM tb_ip WHERE id = #{id}
    </select>
    
    <select id="findDistinct" resultType="Ip">
        SELECT min(from_ip) from_ip ,max(to_ip) to_ip, country,province,city,county from tb_ip group by country,province,city,county
    </select>

</mapper>